
    <ul class="menubar" th:if="${session.user != null} and ${session.user.type.name()} eq 'student'">
        <li class="menuitem"><span th:if="${session.user}" th:text="'你好，'+${session.user.username}"></span> </li>
        <li class="menuitem"><a href="/">主頁</a> </li>
        <li class="menuitem"><a href="/courses">瀏覽所有課程(之後登場)</a> </li>
        <li class="menuitem"><a href="/courses/paid">瀏覽已付費課程(之後登場)</a> </li>
        <li class="menuitem"><a href="/search/teachers">搜尋老師</a> </li>
        <li class="menuitem"><a href="/user/moneyTicket/use">輸入現金卷</a> </li>
        <li class="menuitem" style="float:right"><a href="/logout">登出</a></li>
        <li class="menuitem" style="float:right"><a href="/user">個人資料</a> </li>
        <li class="menuitem" style="float:right"><a href="/moneyRecords">用戶金錢紀錄</a> </li>
    </ul>

    <ul class="menubar" th:if="${session.user != null} and ${session.user.type.name()} eq 'teacher'">
        <li class="menuitem"><span th:if="${session.user}" th:text="'你好，'+${session.user.username}"></span> </li>
        <li class="menuitem"><a href="/">主頁</a> </li>
        <li class="menuitem"><a href="/courses/newCourse">新増課程(之後登場)</a> </li>
        <li class="menuitem"><a href="/courses/myCourses">管理課程(之後登場)</a> </li>
        <li class="menuitem"><a href="/search/students">搜尋學生</a> </li>
        <li class="menuitem"><a href="/teacher/moneySeperation">課程分成</a> </li>
        <li class="menuitem" style="float:right"><a href="/logout">登出</a> </li>
        <li class="menuitem" style="float:right"><a href="/user">個人資料</a> </li>
        <li class="menuitem" style="float:right"><a href="/moneyRecords">用戶金錢紀錄</a> </li>
    </ul>

    <ul class="menubar" th:if="${session.user != null} and ${session.user.type.name()} eq 'admin'">
        <li class="menuitem"><span th:if="${session.user}" th:text="'你好，'+${session.user.username}"></span></li>
        <li class="menuitem"><a href="/">主頁</a> </li>
        <li class="menuitem"><a href="/admin/moneyTickets/view">查看可使用的現金卷</a> </li>
        <li class="menuitem"><a href="/admin/moneyTickets/insert">新增現金卷</a> </li>
        <li class="menuitem"><a href="/admin/moneySeperation">編輯分成</a> </li>
        <li class="menuitem"><a href="/boughtRecords">學生購買紀錄(之後登場)</a> </li>
        <li class="menuitem"><a href="/admin/userDeleteRecords">刪除帳戶紀錄</a> </li>
        <li class="menuitem"><a href="/admin/referral">管理推薦獎勵</a> </li>
        <li class="menuitem" style="float:right"><a href="/logout">登出</a> </li>
        <li class="menuitem" style="float:right"><a href="/user">個人資料</a> </li>
        <li class="menuitem" style="float:right"><a href="/moneyRecords">用戶金錢紀錄</a> </li>
    </ul>

<ul class="menubar" th:if="${session.user == null}">
    <li class="menuitem"><a href="/">主頁</a></li>
    <li class="menuitem"><a href="/login">登入</a></li>
    <li class="menuitem"><a href="/register">註冊</a></li>
</ul>

    