<!DOCTYPE html>
<html>
  <head>
    <title th:text="${title}+' - 更改密碼'"></title>
    <link rel='stylesheet' href='/css/style.css' th:href="@{/css/style.css}"/>
  </head>
  <body>
    <div class="content">
      <h1 th:text="${title}"></h1>
      <div th:replace="~{fragements/header}"></div> 
      <div class="container">
        <form action="/admin/referral" method="post" th:object="${referral}" class="form">
          <div class="container">
            <h2>更改介紹獎勵設定</h2>
            <hr>
            <label for="newUserAmount"><b>新用戶可獲得的獎勵</b></label>
            <input id="newUserAmount" type="number" th:field="*{newUserAmount}" min="0" required>
            <ul class="error" th:if="${#fields.hasErrors('newUserAmount')}"><li th:each="err : ${#fields.errors('newUserAmount')}" th:text="${err}" >New User Reward Error</li></ul>
            <label for="newUserGet"><b>允許新用戶獲得獎勵</b></label>
            <input id="newUserGet" type="checkbox" th:field="*{newUserGet}"><br/><br/>

            <label for="referralAmount"><b>推薦用戶可獲得的獎勵</b></label>
            <input id="referralAmount" type="number" th:field="*{referralAmount}" min="0" required>
            <ul class="error" th:if="${#fields.hasErrors('referralAmount')}"><li th:each="err : ${#fields.errors('referralAmount')}" th:text="${err}">Referral Reward Error</li></ul>

            <label for="referralGet"><b>允許推薦用戶獲得獎勵</b></label>
            <input id="referralGet" type="checkbox" th:field="*{referralGet}"><br/><br/>

            <button type="submit" class="btn">更改資料</button>
          
          </div>
        </form>
      </div>
      <script>
        const urlParams = new URLSearchParams(window.location.search);
        const edit_param = urlParams.get('edit');
        if(edit_param == "true") alert("更改設定成功");
      </script>
    </div>
  </body>
</html>