<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="${title}+' - 註冊'"></title>
    <link rel='stylesheet' href='/css/style.css' th:href="@{/css/style.css}"/>
    <link rel='stylesheet' href='/css/userView.css' th:href="@{/css/userView.css}"/>
    <style>
      .inputSelect{
        min-width: 100px;
        min-height: 30px;
      }
    </style>
  </head>
  <body>
    <div class="content">
      <h1 th:text="${title}"></h1>
      <div th:replace="~{fragements/header}"></div> 
      <h2>註冊</h2> 
      <hr>
      <form action="/register" method="post" th:object="${registerRequest}" >
        
        <p><b>用戶類型</b></p>
        <p>
          <select th:field="*{type}" class="inputSelect">
            <option value="student">學生</option>
            <option value="teacher">老師</option>
          </select>
        </p>
        <span class="error" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></span>

        <p><label for="email"><b>電郵地址</b></label></p>
        <input type="email" placeholder="輸入電郵" name="email" th:field="*{email}" maxlength="256" required>
        <ul class="error"><li th:each="err : ${#fields.errors('email')}" th:text="${err}" >Email Error</li><li th:if="${emailError}" th:text="${emailError}"></li></ul>

        <p><label for="username"><b>用戶名稱</b></label></p>
        <input type="text" placeholder="輸入用戶名稱" name="username" th:field="*{username}" minlength="4" maxlength="20" required>
        <ul class="error"><li th:each="err : ${#fields.errors('username')}" th:text="${err}" >Username Error</li><li th:if="${usernameError}" th:text="${usernameError}"></li></ul>

        <p><label for="psw"><b>密碼（必須等於或長於8位字元）</b></label></p>
        <input type="password" placeholder="輸入密碼" name="password" th:field="*{password}" minlength="8" maxlength="20" required>
        <ul class="error"><li th:each="err : ${#fields.errors('password')}" th:text="${err}" >Password Error</li></ul>

        <p><label for="psw-repeat"><b>重覆輸入密碼</b></label></p>
        <input type="password" placeholder="輸入密碼" name="password_repeat" th:field="*{password_repeat}" minlength="8" maxlength="20" required>
        <ul class="error"><li th:each="err : ${#fields.errors('password_repeat')}" th:text="${err}" >Repeat password Error</li><li th:if="${passwordRepeatError}" th:text="${passwordRepeatError}"></li></ul>
        
        <p><label for="psw-repeat"><b>推薦碼</b></label></p>
        <input type="text" placeholder="推薦碼" th:field="*{referral}" name="referral" id="referral">

        <hr>

        <button type="submit" class="registerbtn">註冊</button>

      </form> 
      <p>已經有帳戶?請<a href="/login" id="loginAction">登入</a></p>

    </div>
  </body>
</html>