<!DOCTYPE html>
<html>
    <head>
        <title th:text="${title}+' - 新増課程'"></title>
        <link rel='stylesheet' href='/css/style.css' th:href="@{/css/style.css}"/>
        <style>
            video {
                max-width: 500px;
                max-height: 500px;
            }
        </style>
    </head>
    <body>
        <div class="content">
            <h1 th:text="${title}"></h1>
            <div th:replace="~{fragements/header}"></div> 
            <div class="container">
                <form action="/teacher/course/insert" method="post" th:object="${course}" class="form">
                    <h2 id="registerText">新増課程</h2>
                    <hr>
                    
                    <p><label for="title"><b>課程名稱</b></label></p>
                    <input id="title" type="text" placeholder="名稱" th:field="*{title}" required>
                    <ul class="error"><li th:each="err : ${#fields.errors('title')}" th:text="${err}" >Title Error</li><li th:if="${titleError}" th:text="${titleError}"></li></ul>
                    
                    <p><label for="introduction"><b>簡介</b></label></p>
                    <textarea id="introduction" rows = "5" cols = "60" maxlength="1000" th:field="*{introduction}"></textarea> <br/>

                    <p><label for="content"><b>內容</b></label></p>
                    <textarea id="content" rows = "5" cols = "60" maxlength="4000000" th:field="*{content}"></textarea> <br/>

                    <p><label for="peopleSuite"><b>學習人群</b></label></p>
                    <textarea id="peopleSuite" rows = "5" cols = "60" maxlength="200" placeholder="學習人群" th:field="*{peopleSuite}"></textarea> <br/>

                    <p>圖片可於新増課程後添加</p>

                    <p>影片可於新増課程後添加</p>

                    <p><label for="price"><b>課程價錢</b></label></p>
                    <input id="price" type="number" placeholder="價錢" min="0" step="1" th:field="*{price}" required><br/>
                
                    <p><label for="categorySelect"><b>課程分類</b></label></p>
                    <select id="categorySelect" th:field="*{category}" class="categorySelect">
                        <option th:each="categoryStatic : ${T(com.benckw69.learningPlatform_java.Course.Category).values()}" 
                            th:value="${categoryStatic}" th:text="${categoryStatic.name}"></option>
                    </select>
                    <ul class="error"><li th:each="err : ${#fields.errors('category')}" th:text="${err}" >Category Error</li></ul>
                    <hr>
                    <button type="submit" class="btn">新增課程</button>
                </form> 
            </div>
        </div>
        <script>
            const urlParams = new URLSearchParams(window.location.search);
            const edit_param = urlParams.get('edit');
            if(edit_param == "true") alert("更改資料成功");
        </script>
    </body>
    </html>