<!DOCTYPE html>
<html>
  <head>
    <title th:text="${title}+' - 搜尋老師'"></title>
    <link rel='stylesheet' href='/css/style.css' th:href="@{/css/style.css}"/>
    <link rel='stylesheet' href='/css/userView.css' th:href="@{/css/userView.css}"/>
    <link rel='stylesheet' href='/css/showCourses.css' th:href="@{/css/showCourses.css}"/>
    <style>
      #submit{
        height: 35px;
        width:75px;
      }
      .inputFields{
        border-style:none;
      }
    </style>
  </head>
  <body>
    <div class="content">
      <h1 th:text="${title}"></h1>
      <div th:replace="~{fragements/header}"></div>
      <h2>搜尋學生</h2> 
      <div id="form">
        <form action="/student/search/teachers" method="post" th:object="${searchUserRequest}">
          <select id="searchMethod" name="searchMethod" class="inputFields" th:field="*{searchUserMethod}">
            <option value="USERNAME">用戶名稱</option>
            <option value="EMAIL">電郵地址</option>
          </select>
          <input type="text" id="searchWords" name="searchWords" class="inputFields" th:field="*{searchWords}">
          
          <input type="submit" value="提交" id="submit" class="inputFields">
        </form> 
      </div>
      <hr>
      <ul id="courses" th:each="teacher:${result}">
        <li><ul class="course">
          <li style="font-size: 26px;" th:text="${teacher.username}"></li>
          <li th:text="'電郵地址：'+${teacher.email}"></li>
        </ul></li>
      </ul>
    </div>
  </body>
</html>