<!DOCTYPE html>
<html>
  <head>
    <title th:text="${title}+' - 個人資料'"></title>
    <link rel='stylesheet' href='/css/style.css' th:href="@{/css/style.css}"/>
  </head>
  <body>
    <div class="content">
      <h1 th:text="${title}"></h1>
      <div th:replace="~{fragements/header}"></div>
      <div class="container"> 
      <form class="form">
          <h2>個人資料</h2>
          <hr>
      
          <label for="email"><b>電郵地址</b></label>
          <input type="email" th:value="${session.user.email}" readonly>
      
          <label for="username"><b>用戶名稱</b></label>
          <input type="text" th:value="${session.user.username}" readonly>

          <label for="balance"><b>餘額</b></label>
          <input type="number" th:value="${session.user.balance}" readonly>

          <label for="introduction" th:if="${session.user.type.name()} eq 'teacher'"><b>個人簡介</b></label>
          <p th:if="${session.user.type.name()} eq 'teacher'"><textarea rows="4" cols="50" style="width: 100%;"  th:text="${introduction}" readonly>
          </textarea></p>

          <label for="username"><b>推薦碼</b></label>
          <input type="text" th:value="'http://localhost:8080/register?ref='+${session.user.id}" readonly>
        
          <button type="button" class="registerbtn" onclick="window.location.href='/user/info/edit'">編輯資料</button>
          <button type="button" class="registerbtn" th:if="${session.user.loginMethod.name()} eq 'email'" onclick="window.location.href='/user/pw/edit'">更改密碼</button>
          <button type="button" class="registerbtn" style="background-color: red;" th:if="${session.user.type.name()} != 'admin'" onclick="deleteUser()">刪除帳戶</button>
        
        </form>
      </div>
    </div>
    <script>
      function deleteUser(){
        if(confirm("你確定要刪除帳戶嗎？")){
          if(confirm("你的帳戶將會無法登入，如果想登入回現有帳戶，則需要向管理員提出解鎖請求。你同意嗎？")){
            postData("/user/delete",{},"post")
          }
        }
      }
      function postData(path, params, method) { 
  
        // Create form 
        const hidden_form = document.createElement('form'); 

        // Set method to post by default 
        hidden_form.method = method || 'post'; 
          
        // Set path 
        hidden_form.action = path; 
          
        for (const key in params) { 
            if (params.hasOwnProperty(key)) { 
                const hidden_input = document.createElement 
                    ('input'); 
                hidden_input.type = 'hidden'; 
                hidden_input.name = key; 
                hidden_input.value = params[key]; 

                hidden_form.appendChild(hidden_input); 
            } 
        } 

        document.body.appendChild(hidden_form); 
        hidden_form.submit(); 
      } 
      
    </script>
  </body>
</html>
