html {
  height: 99%;
}

body {
  padding-left: 50px;
  padding-right: 50px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  height: 100%;
  
  background-image: url('../images/learning.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a {
  color: #3803c9;
}

/* Add some content at the bottom of the video/page */
.content {
  background: rgb(173, 172, 172);
  padding: 20px;
  opacity:0.9;
  /* text-shadow: 1px 1px 1px black; */
  min-height: calc(100% - 8px); 
  box-sizing: border-box; 
}

.menubar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(161, 125, 125);
}

.menuitem {
  float: left;
}

.menuitem a,span {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.menuitem a:hover:not(.active) {
  background-color: #634242;
}

a:link { 
  text-decoration: none; 
} 

.error {
  color: red;
  padding-top: 0px;
  margin-top: 0px;
}

.success {
  color: green;
}

table, td {
  border: 1px solid black;
  text-align: center;
}

/* search bar */
.searchUser input[type=submit],.searchCourse input[type=submit]{
  height: 35px;
  width: 75px;
}

.searchUser select,.searchCourse select{
  padding: 5px;
  margin-right: 10px;
}

.searchUser input[type=text],.searchCourse input[type=text]{
  width: 300px;
  padding: 5px;
  margin-right: 10px;
}

#searchCategory {
  min-width: 200px;
}

.categorySelect {
  min-width: 200px;
  min-height: 35px;
}

/* courses layout */
ul.course li, ul#courses{
  list-style-type: none;
  margin-bottom:3px;
}

#form {
  width:100%; 
  margin-top: 20px;
  margin-bottom: 20px;
}

#courses{
  padding-left: 10px;
}

.course{
  margin-bottom: 20px;
  padding-left: 5px;
  
}

.course li a {
  font-size: 20px;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
.form input[type=text], input[type=password], input[type=email], input[type=number] {
  padding: 15px;
  margin: 5px 0 10px 0;
  width: 100%;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  box-sizing: border-box;
}

.form input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus {
  background-color: #ddd;
  outline: none;
}

.form textarea {
  resize: none;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: rgb(56, 55, 55);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 1;
}

.registerbtn:hover {
  opacity:1;
}