html {
  height: 99%;
}

body {
  padding-left: 50px;
  padding-right: 50px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  height: 100%;
  
  background-image: url('../images/learning.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a {
  color: #00B7FF;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.8
}

/* Add some content at the bottom of the video/page */
.content {
  background: rgb(173, 172, 172);
  padding: 20px;
  opacity:0.9;
  /* text-shadow: 1px 1px 1px black; */
  min-height: calc(100% - 8px); 
  box-sizing: border-box; 
}

.menubar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(161, 125, 125);
}

.menuitem {
  float: left;
}

.menuitem a,span {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.menuitem a:hover:not(.active) {
  background-color: #634242;
}

a:link { 
  text-decoration: none; 
} 

.error {
  color: red;
  padding-top: 0px;
  margin-top: 0px;
}

.success {
  color: green;
}

table, td {
  border: 1px solid black;
  text-align: center;
}